/* Orders.css */
.orders-container {
    margin: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  p {
    margin-top: 10px;
  }
  